<h1> New Item </h1>
<form action="/item" method="post">
    <table>
    <tr> <td> Item Name: </td> <td> <input type="text" name="itemname" required> </td> </tr>
    <tr> <td> Image: </td> <td> <input type="text" name="itemimage" required> </td> </tr>
    <tr> <td> Description: </td> <td> <textarea name="description" rows="10" cols="30"> Description </textarea> </td> </tr>
    <tr> <td> Category ID: </td> <td> <input type="number" name="category_id" required> </td> </tr>
    <tr> <td> Type ID: </td> <td> <input type="number" name="type_id" required> </td> </tr>
    <tr> <td> Sub Category 1: </td> <td> <input type="text" name="subcategory_1" required> </td></tr>
    <tr> <td> Sub Category 2: </td> <td> <input type="text" name="subcategory_2" required> </td></tr>
    <tr> <td> Size: </td> <td> <input type="text" name="size" required> </td> </tr>
    <tr> <td> Price: </td> <td> <input type="text" name="typeprice" required> </td> </tr>
    <tr> <td> Status: </td> <td> <select name="status" required>
                <option selected disabled>Choose Status</option>
                <option>Available</option>
                <option>Out of Stock</option>
                <option>Future Plan</option>
                    </select> </td> </tr>
</table>
<button type="submit">Save Clothing Item</button>
</form>