<h1> New Review </h1>
<form action="/review" method="post">
    <table>
    <tr> <td> Person ID: </td> <td> <input type="number" name="person_id" required> </td> </tr>
    <tr> <td> Item ID: </td> <td> <input type="number" name="item_id" required> </td> </tr>
    <tr> <td> Review Date: </td> <td> <input type="date" name="reviewdate" required> </td> </tr>
    <tr> <td> Comments: </td> <td> <textarea name="comments" rows="10" cols="30"> Comments </textarea> </td> </tr>
    <tr> <td> Rating: </td> <td> <input type="number" name="rating" required> </td> </tr>
    <tr> <td> Status: </td> <td> <input type="text" name="status" required> </td> </tr>
    
</table>
<button type="submit">Save Clothing Review</button>
</form>