<h1> Category Details </h1>
<table>
    <tr> <td> Category ID </td> <td> <%= onecat.category_id %> </td> </tr>
    <tr> <td> Category </td> <td> <%= onecat.category %> </td> </tr>
    <tr> <td> Description </td> <td> <%= onecat.description %> </td> </tr>
</table>